---
import Layout from '../layouts/Layout.astro';
import ComingSoonIllustration from '../components/ComingSoonIllustration.astro';
---

<Layout title="Rez. | Web Developer">
  <main class="py-32">
    <p class="text-lg font-extralight text-[#1A1A1A] dark:text-[#FFFFFF]">Hey, I'm</p>
    <p
      class="mt-5 bg-[linear-gradient(89.81deg,#9845E8_-1.72%,#33D2FF_54.05%,#DD5789_99.78%)] bg-clip-text text-8xl font-medium text-transparent"
    >
      Rezuan Kassim
    </p>
    <p class="mt-6 text-lg font-extralight dark:text-[#F0F0F0]">
      Based in Sabah, Malaysia. I enjoy creating things that live on the internet, whether that be
      websites, applications, or anything in between. I've manage to gain a decent amount of
      experience and valuable knowledge from all different kinds of fields throughout my
      projects/work.
    </p>

    <a
      href="#contact"
      class="mt-10 flex items-center gap-x-3 text-2xl font-light text-[#1A1A1A] dark:text-white"
    >
      <span>Say hi</span>

      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <title>Iconly/Light/Arrow - Right</title>
        <g
          id="Iconly/Light/Arrow---Right"
          stroke="#000000"
          stroke-width="1.5"
          fill="none"
          fill-rule="evenodd"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <g
            id="Arrow---Right"
            transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000) translate(5.500000, 4.000000)"
            stroke="currentColor"
            stroke-width="1.5"
          >
            <line x1="6.7743" y1="15.75" x2="6.7743" y2="0.75" id="Stroke-1"></line>
            <polyline id="Stroke-3" points="12.7987 9.7002 6.7747 15.7502 0.7497 9.7002"></polyline>
          </g>
        </g>
      </svg>
    </a>

    <section id="projects" class="mt-32 scroll-m-8">
      <h2 class="text-lg font-light text-[#1A1A1A] dark:text-white">FEATURED PROJECTS</h2>

      <div class="mt-14">
        <div class="flex flex-col items-center justify-center">
          <ComingSoonIllustration />

          <p class="text-xl font-light text-[#1A1A1A] dark:text-white">Coming Soon</p>
        </div>
      </div>
    </section>

    <div class="my-28 h-[0.4px] w-full bg-[#1A1A1A] dark:bg-[#C6C6C6]"></div>

    <section id="contact" class="flex gap-x-32">
      <p class="text-lg font-light text-[#1A1A1A] dark:text-white">CONTACT</p>

      <div class="flex items-center gap-x-3">
        <a
          href="mailto: rezuankassim@hotmail.com"
          class="flex w-56 items-center justify-center space-x-2 rounded border border-[#C6C6C6] py-3 text-[#1A1A1A] dark:text-[#C4C4C4]"
        >
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Iconly/Bold/Message</title>
            <g
              id="Iconly/Bold/Message"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="Message"
                transform="translate(2.000400, 3.000000)"
                fill="currentColor"
                fill-rule="nonzero"
              >
                <path
                  d="M14.939,0 C16.28,0 17.57,0.53 18.519,1.481 C19.469,2.43 20,3.71 20,5.05 L20,5.05 L20,12.95 C20,15.74 17.73,18 14.939,18 L14.939,18 L5.06,18 C2.269,18 0,15.74 0,12.95 L0,12.95 L0,5.05 C0,2.26 2.259,0 5.06,0 L5.06,0 Z M16.07,5.2 C15.86,5.189 15.66,5.26 15.509,5.4 L15.509,5.4 L11,9 C10.42,9.481 9.589,9.481 9,9 L9,9 L4.5,5.4 C4.189,5.17 3.759,5.2 3.5,5.47 C3.23,5.74 3.2,6.17 3.429,6.47 L3.429,6.47 L3.56,6.6 L8.11,10.15 C8.67,10.59 9.349,10.83 10.06,10.83 C10.769,10.83 11.46,10.59 12.019,10.15 L12.019,10.15 L16.53,6.54 L16.61,6.46 C16.849,6.17 16.849,5.75 16.599,5.46 C16.46,5.311 16.269,5.22 16.07,5.2 Z"
                ></path>
              </g>
            </g>
          </svg>

          <span>Send an email</span>
        </a>

        <a
          href="https://www.linkedin.com/in/rezuan-kassim/"
          class="flex w-56 items-center justify-center space-x-2 rounded border border-[#C6C6C6] py-3 text-[#1A1A1A] dark:text-[#C4C4C4]"
          target="_blank"
        >
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.976 15.7988C16.976 16.2128 16.64 16.5488 16.226 16.5488C15.812 16.5488 15.476 16.2128 15.476 15.7988V12.3888C15.476 11.3848 14.662 10.5688 13.661 10.5688C12.66 10.5688 11.846 11.3848 11.846 12.3888V15.7988C11.846 16.2128 11.51 16.5488 11.096 16.5488C10.682 16.5488 10.346 16.2128 10.346 15.7988V12.3888C10.346 10.5578 11.833 9.06879 13.661 9.06879C15.489 9.06879 16.976 10.5578 16.976 12.3888V15.7988ZM7.775 10.0088C7.361 10.0088 6.989 9.63279 6.989 9.21879C6.989 8.80479 7.361 8.42879 7.775 8.42879C8.189 8.42879 8.559 8.80479 8.559 9.21879C8.559 9.63279 8.189 10.0088 7.775 10.0088ZM8.524 15.7988C8.524 16.2128 8.188 16.5488 7.774 16.5488C7.36 16.5488 7.024 16.2128 7.024 15.7988V12.0278C7.024 11.6138 7.36 11.2778 7.774 11.2778C8.188 11.2778 8.524 11.6138 8.524 12.0278V15.7988ZM16.217 3.00879H7.783C4.623 3.00879 2.5 5.23179 2.5 8.53879V16.4788C2.5 19.7858 4.623 22.0088 7.783 22.0088H16.216C19.376 22.0088 21.5 19.7858 21.5 16.4788V8.53879C21.5 5.23179 19.377 3.00879 16.217 3.00879Z"
              fill="currentColor"></path>
          </svg>

          <span>LinkedIn</span>
        </a>

        <a
          href="https://github.com/rezuankassim"
          class="flex w-56 items-center justify-center space-x-2 rounded border border-[#C6C6C6] py-3 text-[#1A1A1A] dark:text-[#C4C4C4]"
          target="_blank"
        >
          <svg
            width="24px"
            height="24px"
            viewBox="0 0 24 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12 3.20898C6.762 3.20898 2.5 7.47098 2.5 12.709C2.5 16.835 5.24 20.563 9.164 21.776C9.324 21.828 9.498 21.792 9.627 21.686C9.757 21.58 9.825 21.416 9.809 21.249C9.669 19.856 10.47 18.38 10.812 18.026C10.944 17.891 10.988 17.692 10.925 17.514C10.862 17.335 10.704 17.206 10.516 17.183C8.725 16.955 7.067 16.347 7.067 13.457C7.063 12.738 7.337 12.051 7.836 11.522C7.968 11.383 8.009 11.181 7.941 11.002C7.75 10.497 7.729 9.93198 7.877 9.40998C8.168 9.45798 8.731 9.62898 9.608 10.215C9.728 10.296 9.877 10.317 10.015 10.282C11.312 9.93398 12.682 9.93398 13.979 10.282C14.116 10.317 14.266 10.296 14.386 10.215C15.27 9.62398 15.835 9.45498 16.115 9.40598C16.264 9.92998 16.245 10.496 16.054 11.003C15.986 11.183 16.027 11.385 16.16 11.523C16.654 12.043 16.927 12.727 16.927 13.448C16.927 16.387 15.273 16.974 13.486 17.171C13.296 17.191 13.135 17.319 13.071 17.498C13.006 17.678 13.049 17.879 13.182 18.016C13.512 18.357 14.321 19.872 14.185 21.26C14.168 21.427 14.236 21.591 14.367 21.696C14.457 21.771 14.569 21.809 14.682 21.809C14.732 21.809 14.783 21.801 14.832 21.785C18.82 20.53 21.5 16.883 21.5 12.709C21.5 7.47098 17.238 3.20898 12 3.20898Z"
              fill="currentColor"></path>
          </svg>

          <span>Github</span>
        </a>
      </div>
    </section>
  </main>
</Layout>
